@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap);

html, body {
    margin: 0;
    padding: 0;
}

body *{
    font-family: 'Montserrat', sans-serif;
}

.naranja {
    color:#FF5733 !important;
}

.w100{
    font-weight: 100 !important;
}

.w300{
    font-weight: 300 !important;
}

.w500{
    font-weight: 500 !important;
}

.w700{
    font-weight: 700 !important;
}

.w900{
    font-weight: 900 !important;
}

.pagActiva{
    border-bottom: 2px solid #FF5733 !important;
}