#bienvenido {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

#bienvenido>h1 {
    font-weight: 700;
    font-size: 50px;
}

#bienvenido>p,
#bienvenido * hr {
    margin-bottom: 40px;
}

#bienvenido * hr {
    margin: 40px auto 80px auto;
}

hr {
    width: 200px;
}
