#precios {
    width: 80%;
    height: max-content;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

#precios>h2 {
    font-weight: 700;
    font-size: 35px;
    padding-top: 80px;
}

#precios * hr,
#precios > p {
    margin-bottom: 40px;
}

#precios * hr {
    margin-top: 40px !important;
}

#precios * hr {
    margin: 40px auto 80px auto;
}

#precios .card{
    border: 0px !important;
}
