#fondo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    --opacidad-negro: 0.7;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../assets/img/bg/gallery-02.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Mensaje principal sobre fondo ---------------------------------- */
#mensPrincipal {
    width: 100%;
    position: absolute;
    top: 17vh;
    text-align: center;
    color: white;
}

#mensPrincipal div {
    width: 800px;
    margin: auto;
}

#mensPrincipal h1 {
    font-weight: 700;
    font-size: 60px;
}