#precios {
    width: 80%;
    height: max-content;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

#precios>h2 {
    font-weight: 700;
    font-size: 35px;
    padding-top: 100px;
}

#precios > p {
    margin-bottom: 40px;
}

#espaciador hr {
    margin: 20px auto 50px auto !important;
}

#precios .card{
    border: 0px !important;
}
