#valoraciones{
    width: 80vw;
    margin: 30px auto;
}

#espaciador hr{
    margin: auto;
    margin-bottom: 50px;
}

#valoraciones h2{
    margin-bottom: 30px;
    text-align: center;
}

#cartasValoracion{
    width: 60vw !important;
    margin: auto;
    border-radius: 10px;
}

#verTodasValoraciones{
    width: max-content;
    margin: auto;
}

#verTodasValoraciones a{
    background-color: #FF5733 !important;
    border: 0px;
}

@media screen and (max-width: 760px) {

    #valoraciones{
        width: 90vw;
    }

    #cartasValoracion{
        width: 70vw !important;
    }
}